<a href="https://colab.research.google.com/github/Rizzuto82/Esercizi-develhope/blob/main/data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. print the lengths of `list1`,`tuple1`,`set1`,`dict1`
#2. print the first element of `list1` and `tuple1`
#3. print the value of `lion` key of `dict1`
#4. change the 2nd position element of `list1` to "rabbit"
#5. try to change the 2nd position element of the tuple to "rabbit" and explain what happened.
#6. add "monkey" to `list1`
#7. remove "rabbit" from `list1`
#8. in `dict1` the number of feet is written as value to each animal the fixh has wrong value just fix it.

In [12]:
list1 = ["lion", "monkey", "dog","fish"]
tuple1 = ("lion", "monkey", "dog","fish")
set1 = {"lion", "monkey", "dog","fish"}
dict1 = {"lion":4, "monkey":2, "dog":4,"fish":2}

print(len(list1))
print(len(tuple1))
print(len(set1))
print(len(dict1))


print(list1[0])
print(tuple1[0])

print(dict1["lion"])

4
4
4
4
lion
lion
4

In [14]:
list1 = ["lion", "monkey", "dog","fish"]
list1[1] = "rabbit"
print(list1)

['lion', 'rabbit', 'dog', 'fish']

In [ ]:
#soluzione quesito n.5: Le tuple sono immutabili, quindi non possiamo modificare, aggiungere o rimuovere elementi.

In [16]:
list1 = ["lion", "rabbit", "dog","fish"]
list1.append("monkey")
print(list1)
list1.remove("rabbit")
print(list1)

['lion', 'rabbit', 'dog', 'fish', 'monkey']
['lion', 'dog', 'fish', 'monkey']

In [18]:
dict1 = {"lion":4, "monkey":2, "dog":4,"fish":2}
dict1["fish"] = 0
print(dict1)

{'lion': 4, 'monkey': 2, 'dog': 4, 'fish': 0}