Scrivi un programma Pandas per trovare i primi 5 paesi con le più alte porzioni di birra e le più alte porzioni di alcolici dal set di dati sul consumo mondiale di alcol. Recupera i nomi dei paesi, le porzioni di birra, le porzioni di alcolici e la regione corrispondente per questi 5 paesi principali.

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("C:\\Users\\rizzu\\OneDrive\\Desktop\\visual studio\\esercizi piattaforma numpy pandas\\World_Alcohol_Dataset - MAIN.csv", na_values = "?")
print(df)

                 country  beer_servings  spirit_servings  wine_servings  \
0            Afghanistan            0.0              0.0            0.0
1                Albania           89.0            132.0           54.0
2                Algeria           25.0              0.0           14.0
3                 Angola          217.0             57.0           45.0
4    Antigua and Barbuda          102.0            128.0           45.0
..                   ...            ...              ...            ...
172            Venezuela          333.0            100.0            3.0
173              Vietnam          111.0              2.0            1.0
174                Yemen            6.0              0.0            0.0
175               Zambia           32.0             19.0            4.0
176             Zimbabwe           64.0             18.0            4.0

     life_expentancy                region  gdp_per_capita
0               65.0  ASIA (EX. NEAR EAST)             700
1               77.8        EASTERN EUROPE            4500
2               75.6       NORTHERN AFRICA            6000
3               52.4    SUB-SAHARAN AFRICA            1900
4               76.4   LATIN AMER. & CARIB           11000
..               ...                   ...             ...
172             74.1   LATIN AMER. & CARIB            4800
173             76.0  ASIA (EX. NEAR EAST)            2500
174             65.7             NEAR EAST             650
175             61.8    SUB-SAHARAN AFRICA            1000
176             67.0    SUB-SAHARAN AFRICA             950

[177 rows x 7 columns]

In [45]:
df[["beer_servings", "spirit_servings"]].max()

beer_servings      376.0
spirit_servings    438.0
dtype: float64

In [46]:
df["consumo_maggiore"] = df[["beer_servings", "spirit_servings"]].max(axis=1)
df["consumo_maggiore"]

0        0.0
1      132.0
2       25.0
3      217.0
4      128.0
       ...
172    333.0
173    111.0
174      6.0
175     32.0
176     64.0
Name: consumo_maggiore, Length: 177, dtype: float64

In [47]:
top5 = df[["country","consumo_maggiore","region"]].sort_values(by=("consumo_maggiore"),ascending=False)
top5.head(5)

     country  consumo_maggiore               region
64   Grenada             438.0  LATIN AMER. & CARIB
111  Namibia             376.0   SUB-SAHARAN AFRICA
14   Belarus             373.0  C.W. OF IND. STATES
43   Czechia             361.0       EASTERN EUROPE
58     Gabon             347.0   SUB-SAHARAN AFRICA