Scrivere un programma Panda per estrarre record specifici dal set di dati sul consumo mondiale di alcol, iniziando dalla 2a riga e selezionando successivamente ogni 5 righe.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv("World_Alcohol_Dataset - MAIN.csv", na_values = "?")
print(df)

                 country  beer_servings  spirit_servings  wine_servings  \
0            Afghanistan            0.0              0.0            0.0
1                Albania           89.0            132.0           54.0
2                Algeria           25.0              0.0           14.0
3                 Angola          217.0             57.0           45.0
4    Antigua and Barbuda          102.0            128.0           45.0
..                   ...            ...              ...            ...
172            Venezuela          333.0            100.0            3.0
173              Vietnam          111.0              2.0            1.0
174                Yemen            6.0              0.0            0.0
175               Zambia           32.0             19.0            4.0
176             Zimbabwe           64.0             18.0            4.0

     life_expentancy                region  gdp_per_capita
0               65.0  ASIA (EX. NEAR EAST)             700
1               77.8        EASTERN EUROPE            4500
2               75.6       NORTHERN AFRICA            6000
3               52.4    SUB-SAHARAN AFRICA            1900
4               76.4   LATIN AMER. & CARIB           11000
..               ...                   ...             ...
172             74.1   LATIN AMER. & CARIB            4800
173             76.0  ASIA (EX. NEAR EAST)            2500
174             65.7             NEAR EAST             650
175             61.8    SUB-SAHARAN AFRICA            1000
176             67.0    SUB-SAHARAN AFRICA             950

[177 rows x 7 columns]

In [10]:
print(df.iloc[2:: 5])

                              country  beer_servings  spirit_servings  \
2                             Algeria           25.0              0.0
7                           Australia          261.0             72.0
12                         Bangladesh            0.0              0.0
17                              Benin           34.0              4.0
22                             Brazil          245.0            145.0
27                         Cape Verde          144.0             56.0
32                               Chad           15.0              1.0
37                              Congo           76.0              1.0
42                             Cyprus          192.0            154.0
47   Democratic Republic of the Congo           32.0              3.0
52                            Eritrea           18.0              0.0
57                             France          127.0            151.0
62                              Ghana           31.0              3.0
67                      Guinea-Bissau           28.0             31.0
72                            Iceland          233.0             61.0
77                            Ireland          313.0            118.0
82                             Jordan            6.0             21.0
87                         Kyrgyzstan           31.0             97.0
92                            Liberia           19.0            152.0
97                         Madagascar           26.0             15.0
102                             Malta          149.0            100.0
107                          Mongolia           77.0            189.0
112                             Nepal            5.0              6.0
117                           Nigeria           42.0              5.0
122                            Panama          285.0            104.0
127                            Poland          343.0            215.0
132                            Rwanda           43.0              2.0
137                        Seychelles          157.0             25.0
142                   Solomon Islands           56.0             11.0
147                         Sri Lanka           16.0            104.0
152                       Switzerland          185.0            100.0
157                        East Timor            1.0              1.0
162                            Turkey           51.0             22.0
167                    United Kingdom          219.0            126.0
172                         Venezuela          333.0            100.0

     wine_servings  life_expentancy                region  gdp_per_capita
2             14.0             75.6       NORTHERN AFRICA            6000
7            212.0             82.8               OCEANIA           29000
12             0.0             71.8  ASIA (EX. NEAR EAST)            1900
17            13.0             60.0    SUB-SAHARAN AFRICA            1100
22            16.0             75.0   LATIN AMER. & CARIB            7600
27            16.0             73.3    SUB-SAHARAN AFRICA            1400
32             1.0             53.1    SUB-SAHARAN AFRICA            1200
37             9.0             64.7    SUB-SAHARAN AFRICA             700
42           113.0             85.0             NEAR EAST           19200
47             1.0             59.8    SUB-SAHARAN AFRICA             700
52             0.0             64.7    SUB-SAHARAN AFRICA             700
57           370.0             82.4        WESTERN EUROPE           27600
62            10.0             62.4    SUB-SAHARAN AFRICA            2200
67            21.0             58.9    SUB-SAHARAN AFRICA             800
72            78.0             82.7        WESTERN EUROPE           30900
77           165.0             81.4        WESTERN EUROPE           29600
82             1.0             74.1             NEAR EAST            4300
87             6.0             71.1   C.W. OF IND. STATES            1600
92             2.0             61.4    SUB-SAHARAN AFRICA            1000
97             4.0             65.5    SUB-SAHARAN AFRICA             800
102          120.0             81.7        WESTERN EUROPE           17700
107            8.0             68.8  ASIA (EX. NEAR EAST)            1800
112            0.0             69.2  ASIA (EX. NEAR EAST)            1400
117            2.0             54.5    SUB-SAHARAN AFRICA             900
122           18.0             77.8   LATIN AMER. & CARIB            6300
127           56.0             77.5        EASTERN EUROPE           11100
132            0.0             66.1    SUB-SAHARAN AFRICA            1300
137           51.0             73.2    SUB-SAHARAN AFRICA            7800
142            1.0             69.2               OCEANIA            1700
147            0.0             74.9  ASIA (EX. NEAR EAST)            3700
152          280.0             83.4        WESTERN EUROPE           32700
157            4.0             68.3  ASIA (EX. NEAR EAST)             500
162            7.0             75.8             NEAR EAST            6700
167          195.0             81.2        WESTERN EUROPE           27700
172            3.0             74.1   LATIN AMER. & CARIB            4800