<a href="https://colab.research.google.com/github/Rizzuto82/Esercizi-develhope/blob/main/UNDERSTANDING_DATA_TYPES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create variables of different data types (integer, float, string, and boolean)
Use the type function to print the type of each variable
Observe how the data type affects the output of certain operations, for example: • Adding two integers • Concatenating a string with a float • Comparing a string with a boolean

In [3]:
a = 25
b = 2.5
c = "Hello"
d = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [4]:
5+5

10

In [5]:
"Hello"+2.5

TypeError: ignored

In [8]:
"Hello" == True

False